/*geral*/
    body{
        color: #0D0D0D;
    }

    main{
        padding-top: 5%;
    }

    .botao-padrao{
        background-color: #5253FF;
        color: #f2f2f2;
        border-color: #5253FF;
    }

    .botao-padrao:hover{
        background-color: #3B14A8;
        color: #f2f2f2;
        border-color: #5253FF;
    }

    h1, h2{
        margin-bottom: 25px;
    }

    .alinha{
        margin-top: 20px;
    }
    
    form input{
		color: black;	
	}	
/*geral*/




/*cabeçalho*/
    header{
        background: #5253FF;
        margin-bottom: 20px;
        text-align: center;
    }

    /* .header_area{
        padding: 20px;
        background-color: #fff;
    } */

    .botao{
        margin-left: 10px;
        color: #5253FF;
        border-color: #5253FF;
    }

    .botao:hover{
        background-color: #5253FF;
        color: #f2f2f2;
        border-color: #5253FF;
    }

    .memu_area{
        margin-top: 30px;
    }

    .memu_area nav a{
        color:#737373;
        margin-bottom: 10px;
    }

    .memu_area nav a:hover{
        font-weight: bold;
    }


    .memu_area .active{
        background-color: #fff !important;
        color: #737373 !important;
    }

    .logo{
        width: 120px;
    }

	.more{
        width: 25px;
        margin-top: 7px;
    }
    
    .perfil{
        /* background-color: #0D0D0D; */
        width: 100vw;
        height: 10vh;
        margin: auto;
    }

    .img-perfil{
        margin-top: 10px;
        margin-right: 50px;
        width: 100px;
    }
    
    .texto{
      margin-bottom: 10px;
      color: #0D0D0D;
    }

    .texto:hover{
      color:#0D0D0D;
      font-weight: bold;
    }

    .texto_drop{
      color: #0D0D0D;
    }
/*cabeçalho*/


/*Home Page*/
    .info-pages{
        padding: 20px;
        background-color: #f2f2f2;
    }

    .info-pages h1{
        text-align: center;
    }

    .img_info{
        width: 500px ;
        height: 300px;
        margin: 20px;
    }
    .img_infol{
        width: 500px ;
        height: 400px;
        margin: 20px;
    }

    .card{
        margin-bottom: 20px;
    }

    .destaque{
        padding: 30px;
    }
/*Home Page*/

/*Sobre*/
    .baixo h1{
        margin-top: 20px;
    }

    .redes i{
        color: black;
        margin-right: 10px;
    }
/*Sobre*/

/*Negocie*/
    .fale img{
        width: 50px;
        margin-top: 20px;
    }

    .email{
        margin-left: 20px;
    }

    .digite{
        margin-right: 40px;
    }

    .p-perfil{
        margin-left: 10px;
        margin-top: 30px;
    }

    .alinha-2{
        margin-left: 350px;
    }

    .send-message{
        padding: 20px;
    }
/*Negocie*/


/*roda pé*/
footer{
    margin-top: 10px;
    background: #E9E9E9;
    color: #737373;
}
footer img{
    width: 100px;
}

.footer_area{
    padding: 20px;
    text-align: center  ;
}

.menu-area{
    background-color: #5253FF;
}
/*roda pé*/

@media screen and (max-width:800px){
    .img_info{
        width: 250px ;
        height: 150px;
        margin-left: 50px;
    }
    .alinha-2{
      margin-left: 10px;
    }
    .perfil{
      margin-left: 90px;
    }
}

/* formulario */
.input-tutorial{
    width: 45rem;
}