.nav{
    background-color: #5253FF;;
-webkit-box-shadow: -11px 10px 16px 1px rgba(0, 0, 0, 0.1);
-moz-box-shadow: -11px 10px 16px 1px rgba(0, 0, 0, 0.1);
box-shadow: -11px 10px 16px 1px rgba(0, 0, 0, 0.3);
transition: all 0.2s ease;
box-sizing: border-box;
}
.nav-item{
    
font-family: 'Open Sans';
font-style: semibold;
font-weight: 600;
font-size: 13px;
line-height: 12px;
/* or 100% */

text-align: center;
letter-spacing: 0.75px;
text-transform: uppercase;
color: #FFFFFF;
  }
  .form-control{
    box-shadow: -11px 10px 16px 1px rgba(0, 0, 0, 0.1);
transition: all 0.1s ease;
  }
.nav-item:hover {
  color: #ffea2f;
  }
  

  .navbar {
    position: relative;
}
.navbar.brand {
    position: absolute;
    left: 50%;
    margin-left: -131px !important; 
    display: block;
}

body {
	overflow-x: hidden;
	color: #fff;
}

p {
	font-size: 14px;
}

.container-fluid {
	background-color: #fefeff;
}

.top-part {
	background-color: #fefeff;
}
.bottom-part {
	background-color: #5253FF;
}
.center-content {
	margin-top: 120px;
	margin-bottom: 120px;
  font-family: 'Open Sans';
font-style: extrabold;
font-weight: 600px;
font-size: 13px;
line-height: 12px;
/* or 100% */

text-align: center;
letter-spacing: 0.75px;
text-transform: uppercase;
color: #3B14A8;
}

.btn-pink {
	border-radius: 2;
	background-color: #2EB394;
	color: #fff !important;
  font-family: 'Open Sans';
  font-style: bold;
  font-weight: 600;
  font-size: 13px;
  line-height: 12px;
  /* or 100% */
  
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
 	letter-spacing: 2px;
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;
}

.btn-pink:hover {
	background-color: #F50057;
}

.line {
	border-top: 1px solid #7B1FA2;
	width: 90% !important;
}

.fa-mobile {
	font-size: 20px;
  color: #3B14A8;
}

#contact {
	font-size: 15px;
}

.grey-text {
	color: #fefeff;
}



.card {
  text-align: center;
align-content: center;
align-self: center;
  -webkit-box-shadow: -11px 10px 16px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: -11px 10px 16px 1px rgba(0, 0, 0, 0.16);
  box-shadow: -11px 10px 16px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;
  border: 2px solid #111;
border-radius: 8px;
box-sizing: border-box;
color: #111;


}
.card:after {
     background-color: rgb(0, 0, 0);
      border-radius: 8px;
      content: "";
      display: block;
      
      left: 0;
      width: 100%;
      position: absolute;
      top: -2px;
      transform: translate(8px, 8px);
      transition: transform .2s ease-out;
      z-index: -1;
    
  }

  .btn-accent{
    border-radius: 2;
    background-color: #2EB394;
    color: #fff !important;
    font-family: 'Open Sans';
    font-style: bold;
    font-weight: 600;
    font-size: 13px;
    line-height: 12px;
        
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
     letter-spacing: 2px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
  }
  
  .btn-accent:hover {
    background-color: #F50057;
  }
  
  .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}
/*
 {
  margin: 0;
  border: 0; 
  outline: 0;
  list-style: none; 
  user-select: none;
  }
   */

  body {
  display: flex;
  justify-content: center; 
  background: #FFFFFF; 
  }
   
  .container {
  position: relative; 
  margin-top: 50px; 
  background: #0094a236; 
  width: 450px; 
  height: min-content; 
  padding: 20px 0; 
  text-align: center; 
  border-radius: 20px; 
  overflow: hidden; 
  z-index: 2;
  }
   
  .container input, container button { 
  height: 40px; 
  width: 90%; 
  border-radius: 50px; 
  font-size: 18px;
  }
  .container input {
  border: 2px solid #0094a236; 
  padding-left: 12px;
  margin-bottom: 12px; 
  transition: .4s;
  }
   
  .container input:focus { border: 2px solid #00bcd4; }
   
  .container button {
  Cursor: pointer; 
  background: #00bcd4; 
  letter-spacing: 1px; 
  transition: .4s;
  }
   
  container button:hover { background: #FF8427;}
   
  ul {
  position: absolute; 
  width: 450px; 
  height: fit-content; 
  background: #0094a236; 
  margin-top: 140px; 
  padding-top: 90px; 
  border-radius: 20px; 
  transition: .4s;
  }
   
  ul li { padding: 15px; }
   
  ul li span { display: flex; }
   
  ul li span p:nth-child(1) { 
  text-transform: uppercase; 
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 500; 
  color: #ffffff; 
  margin-right: 10px;
  }
   
  ul li span p:nth-child(2) { 
  color: #ffffff;
  font-family: 'Open Sans';
  font-size: 18px; 
  font-weight: 200; 
  margin-top: -3px;
  }
   
  ul li p:nth-child(2) { 
  color: #f5f5f5; 
  font-family: 'Open Sans';
  font-size: 19px; 
  font-weight: 400; 
  padding-top: 5px;
  }

  .list{
    font-family: 'Open Sans';
  }
